In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib as mpl
from os import path
from datetime import date
import math

from matplotlib.ticker import NullFormatter
from sklearn import manifold, preprocessing
from sklearn.pipeline import make_pipeline
from time import time

IPython_default = plt.rcParams.copy()
# print(mpl.style.available)
def set_default():
    plt.rcParams.update(IPython_default);

In [4]:
# mpl.style.use('seaborn-whitegrid')
mpl.style.reload_library()
mpl.style.use('ggplot')
# mpl.style.use('ggplot')

# Dataset preprocessing

In [48]:
df = pd.read_csv('merged_mob_owid.csv', parse_dates=['date'], infer_datetime_format=True).set_index(['date','country_region']).swaplevel()
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 19079 entries, ('Afghanistan', Timestamp('2019-12-31 00:00:00')) to ('Zimbabwe', Timestamp('2020-05-23 00:00:00'))
Data columns (total 34 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   retail_and_recreation_percent_change_from_baseline  9446 non-null   float64
 1   grocery_and_pharmacy_percent_change_from_baseline   9446 non-null   float64
 2   parks_percent_change_from_baseline                  9446 non-null   float64
 3   transit_stations_percent_change_from_baseline       9446 non-null   float64
 4   workplaces_percent_change_from_baseline             9446 non-null   float64
 5   residential_percent_change_from_baseline            9446 non-null   float64
 6   total_cases                                         19079 non-null  int64
 7   new_cases                                           19079 non-null  int64
 8   total_deaths                                        19079 non-null  int64
 9   new_deaths                                          19079 non-null  int64
 10  total_cases_per_million                             18766 non-null  float64
 11  new_cases_per_million                               18766 non-null  float64
 12  total_deaths_per_million                            18766 non-null  float64
 13  new_deaths_per_million                              18766 non-null  float64
 14  total_tests                                         5088 non-null   float64
 15  new_tests                                           4517 non-null   float64
 16  total_tests_per_thousand                            5088 non-null   float64
 17  new_tests_per_thousand                              4517 non-null   float64
 18  new_tests_smoothed                                  5549 non-null   float64
 19  new_tests_smoothed_per_thousand                     5549 non-null   float64
 20  stringency_index                                    14951 non-null  float64
 21  population                                          19079 non-null  float64
 22  population_density                                  18305 non-null  float64
 23  median_age                                          17424 non-null  float64
 24  aged_65_older                                       17190 non-null  float64
 25  aged_70_older                                       17336 non-null  float64
 26  gdp_per_capita                                      17189 non-null  float64
 27  extreme_poverty                                     11353 non-null  float64
 28  cvd_death_rate                                      17350 non-null  float64
 29  diabetes_prevalence                                 17986 non-null  float64
 30  female_smokers                                      14160 non-null  float64
 31  male_smokers                                        14008 non-null  float64
 32  handwashing_facilities                              7437 non-null   float64
 33  hospital_beds_per_100k                              16028 non-null  float64
dtypes: float64(30), int64(4)
memory usage: 5.0+ MB

In [49]:
# fill mobility data with 0
df.iloc[:,:6].fillna(0.0, inplace=True)
df.dropna(axis='columns', thresh = int(df.shape[0]*0.5), inplace=True)
df.drop(labels=['stringency_index', 'extreme_poverty', 'total_cases_per_million', 'new_cases_per_million', 'total_deaths_per_million','new_deaths_per_million'],axis='columns', inplace=True)

In [51]:
for c in df.index.levels[0]:
    if np.sum(np.isnan(df.loc[c].to_numpy())) > 0:
        df.drop(c, level=0, inplace=True)
#     if c in ['France', 'Germany', 'Greece', 'Estonia','Hong Kong', 'Hungary','Ireland','Japan', 'Lebanon', 'Mexico','Netherlands', 'Puerto Rico','Singapore','South Africa','Switzerland','United Arab Emirates']:
#         print(c)
#         print(df.loc[c].info())
#     print(c, np.sum(np.isnan(df.loc[c].to_numpy())))

In [54]:
df

                           total_cases  new_cases  total_deaths  new_deaths  \
country_region date
Albania        2020-03-09            2          2             0           0
               2020-03-10            6          4             0           0
               2020-03-11           10          4             0           0
               2020-03-12           11          1             1           1
               2020-03-13           23         12             1           0
...                                ...        ...           ...         ...
Zimbabwe       2020-05-19           46          0             4           0
               2020-05-20           46          0             4           0
               2020-05-21           48          2             4           0
               2020-05-22           51          3             4           0
               2020-05-23           56          5             4           0

                           population  population_density  median_age  \
country_region date
Albania        2020-03-09   2877800.0             104.871        38.0
               2020-03-10   2877800.0             104.871        38.0
               2020-03-11   2877800.0             104.871        38.0
               2020-03-12   2877800.0             104.871        38.0
               2020-03-13   2877800.0             104.871        38.0
...                               ...                 ...         ...
Zimbabwe       2020-05-19  14862927.0              42.729        19.6
               2020-05-20  14862927.0              42.729        19.6
               2020-05-21  14862927.0              42.729        19.6
               2020-05-22  14862927.0              42.729        19.6
               2020-05-23  14862927.0              42.729        19.6

                           aged_65_older  aged_70_older  gdp_per_capita  \
country_region date
Albania        2020-03-09         13.188          8.643       11803.431
               2020-03-10         13.188          8.643       11803.431
               2020-03-11         13.188          8.643       11803.431
               2020-03-12         13.188          8.643       11803.431
               2020-03-13         13.188          8.643       11803.431
...                                  ...            ...             ...
Zimbabwe       2020-05-19          2.822          1.882        1899.775
               2020-05-20          2.822          1.882        1899.775
               2020-05-21          2.822          1.882        1899.775
               2020-05-22          2.822          1.882        1899.775
               2020-05-23          2.822          1.882        1899.775

                           cvd_death_rate  diabetes_prevalence  \
country_region date
Albania        2020-03-09         304.195                10.08
               2020-03-10         304.195                10.08
               2020-03-11         304.195                10.08
               2020-03-12         304.195                10.08
               2020-03-13         304.195                10.08
...                                   ...                  ...
Zimbabwe       2020-05-19         307.846                 1.82
               2020-05-20         307.846                 1.82
               2020-05-21         307.846                 1.82
               2020-05-22         307.846                 1.82
               2020-05-23         307.846                 1.82

                           female_smokers  male_smokers  \
country_region date
Albania        2020-03-09             7.1          51.2
               2020-03-10             7.1          51.2
               2020-03-11             7.1          51.2
               2020-03-12             7.1          51.2
               2020-03-13             7.1          51.2
...                                   ...           ...
Zimbabwe       2020-05-19             1.6          30.7
               2020-05-20             1.6          30.7
               2020-05-21             1.6          30.7
               2020-05-22             1.6          30.7
               2020-05-23             1.6          30.7

                           hospital_beds_per_100k
country_region date
Albania        2020-03-09                    2.89
               2020-03-10                    2.89
               2020-03-11                    2.89
               2020-03-12                    2.89
               2020-03-13                    2.89
...                                           ...
Zimbabwe       2020-05-19                    1.70
               2020-05-20                    1.70
               2020-05-21                    1.70
               2020-05-22                    1.70
               2020-05-23                    1.70

[13152 rows x 15 columns]